<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/app.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="app">
        <div id="statistics">
            <!-- This area will be filled by JavaScript -->
        </div>
        <div id="nickname">
            <!-- This area will be filled by JavaScript -->
        </div>
        <div id="games">
            <!-- This area will be filled by JavaScript -->
        </div>
        <div id="details">
            <!-- This area will be filled by JavaScript -->
        </div>
        <div id="game">
            <!-- This area will be filled by JavaScript -->
        </div>
        <div id="end">
            <!-- This area will be filled by JavaScript -->
        </div>
    </div>

    <script id="tpl-statistics" type="text/template">
        statistics
    </script>

    <script id="tpl-nickname" type="text/template">
        nickname
    </script>

    <script id="tpl-games" type="text/template">
        games
    </script>

    <script id="tpl-details" type="text/template">
        details
    </script>

    <script id="tpl-game" type="text/template">
        game
    </script>

    <script id="tpl-end" type="text/template">
        end
    </script>

    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>